body {
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
    background-color: #DDDDDD;
    overflow-y:hidden;
    overflow-x:hidden;
}

#content {
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #DDDDDD;
}

#header {
    overflow: hidden;
    background-color: black;
    padding: 20px 10px;
}

#header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

#header a:hover {
    background-color: #ddd;
    color: black;
}