<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Color Selector
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/colorPage.css') }}">
    </head>
    <body>
        <div id='header'>
            <a href='/'>Select a Color</a>
            <a href='/view'>View Current Page</a>
            <a href='/previous'>View Previous Pages</a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div id='content'>
            <div id='form'>
                <form method="POST", autocomplete='off', id='colorSelect'>
                    <p>What color would you like to use?</p>
                    <input type='color' name='color'>
                    <br>
                    <input type='submit'>
                </form>
            </div>
        </div>

    </body>
</html>
