<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Year Selector</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/colorPage.css') }}">
    </head>
    <body>
        <div id='header'>
            <a href='/'>Select a Color</a>
            <a href='/view'>View Current Page</a>
            <a href='/previous'>View Previous Pages</a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div id='content'>
            <div id='form'>
                <form method="POST", autocomplete='off', id='yearSelect'>
                    <div>
                        {{ error }}
                    </div>
                    <p>What year would you like to see?</p>
                    <input name='year'>
                    <br>
                    <input type='submit'>
                </form>
            </div>
        </div>
    </body>
</html>
